# Application Port & Upload Directory
PORT=3000
UPLOAD_DIR=./uploads

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/aadhaar_db?retryWrites=true&w=majority
KAFKA_BROKER=kafka-xxxx-your-project.aivencloud.com:23180
KAFKA_TOPIC=aadhaar-masking-tasks
KAFKA_GROUP_ID=aadhaar-masking-group

# Kafka Security Protocol: PLAINTEXT, SSL, or SASL_SSL
KAFKA_SECURITY_PROTOCOL=SSL

# Aiven Kafka Mutual TLS Certificate Paths (mounted on container at /app/certs)
KAFKA_CA_CERT_PATH=/app/certs/ca.pem
KAFKA_ACCESS_CERT_PATH=/app/certs/service.cert
KAFKA_ACCESS_KEY_PATH=/app/certs/service.key

# Alternatively, paste raw cert contents if not using file paths:
# KAFKA_CA_CERT=
# KAFKA_ACCESS_CERT=
# KAFKA_ACCESS_KEY=

# Aiven Kafka SASL Configuration (Required only if KAFKA_SECURITY_PROTOCOL=SASL_SSL)
# KAFKA_SASL_MECHANISM=SCRAM-SHA-256
# KAFKA_SASL_USERNAME=avnadmin
# KAFKA_SASL_PASSWORD=your_aiven_password

